/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--main-color: #1D6154;
	--secondary-color: #B1663C;
	--main-bg-color: #FFFEF8;
	--dark-gray: #3D3D3D;
}

* {
	background-color: var(--main-bg-color);
	color: var(--dark-gray);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 10px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
/** end reset css**/

/** edit bar & modal **/
#edit-bar{
	background-color: black;
	display: flex;
	justify-content: center;
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
	margin: 0px;
}
#edit-bar i {
	background-color: transparent;
	color: white;

}
#edit-button-1 {
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	background-color: transparent;
	border:none;
}

#edit-button-1 a {
	background-color: transparent;
	color: white;
	margin: 0px;
}
#edit-button-1:hover {
	background-color: transparent;
	border:none;
}
#publish-button {
	margin: 8px 7px 8px 7px;
	color: black;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	background-color: white;
	border:none;
}
#publish-button:hover {
	color: var(--dark-gray);
	background-color: white;
	border:none;
}
.projects-title{
	display: flex;
	justify-content: center;
	align-items: center;
}
#edit-button-2{
	display:flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
#edit-button-2 i{
	margin: 0px 0px 0px 10px;
	color: black;
}
#edit-button-2 p{
	color: black;
}
#modal,
#modal-add-work {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	display:flex;
	justify-content: center;
  	top: 0;
  	left: 0;
  	width: 100%;
	height: 130%;
	margin: 0px;
}

.modal-wrapper,
.modal-wrapper-add-work,
.modal-wrapper h2,
.modal-wrapper-add-work h2,
.modal-wrapper div,
.modal-wrapper-add-work div,
.modal-image,
#modal-gallery,
#modal-gallery figure,
#modal-gallery figcaption,
#modal-add-work form,
#modal-add-work form input,
#modal-add-work form label{
	background-color: white;
}
#add-work-error-message > * {
	background-color: transparent;
}

.modal-wrapper,
.modal-wrapper-add-work{
	overflow: auto;
	width: 600px;
	height: 30%;
	max-width: calc(100vw - 20px);
	max-height: calc(690vh - 20px);
	overflow: auto;
	border-radius: 10px;
	margin:20%;
	padding:8%;
	position: relative;
}
#modal-xmark,
#modal-add-work-xmark{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: black;
}
#modal-add-work-arrow-left{
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	color: black;
}
#modal h2,
#modal-add-work h2{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: black;
	text-align: center;
	margin-bottom:30px;
}
#modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr); /* Crée 5 colonnes avec la même largeur */
	gap: 5px;
	margin-top: 30px;
}
#modal-gallery figure,
#modal-gallery figcaption {
	margin: 0px;
	padding: 0px
}
#modal-gallery figure {
	margin-bottom: 10px;
}
#modal-gallery img {
	width: 76.86px;
	height: 102.57px;
	background-color: white;
	text-align: center;
	padding: 0px;
	margin: 0px;
	object-fit: cover;
}
.modal-figure-container{
	position: relative;
	margin: 0px;
	display: inline-block;
}
.modal-figure-container .fa-trash-can,
.modal-figure-container .fa-arrows-up-down-left-right {
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
	color: white;
	background-color: black;
	border-radius:2px;
	padding : 5px;
	margin: 0px;
}
.modal-figure-container .fa-trash-can {
	right: 6px;
}
.modal-figure-container .fa-arrows-up-down-left-right {
	right: 32px;
	display:none;
}
.modal-figure-container:hover .fa-arrows-up-down-left-right {
	display: block;
}
hr{
	width: 82%;
	height: 0px;
	border: 1px solid #B3B3B3;
	margin-top: 25px;
	margin-bottom: 25px;
}
#add-work, 
#delete-all,
#validate {
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 15px;
	margin-bottom: 0px;
}
#add-work{
	background-color: var(--main-color);
	color: white;
}
#validate {
	background-color: var(--dark-gray);
	color: white;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--main-color);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
#validate:hover{
	background-color: white;
	color: var(--dark-gray);
	border: solid 1px var(--dark-gray);
	cursor: pointer;
}

#add-work:hover{
	background-color: transparent;
	color: var(--main-color);
}
#delete-all{
	background-color: transparent;
	color: red;
	border: none;
	font-weight: 400;
}
.modal-wrapper .add-delete-buttons{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/** ajout de photos **/
#modal-add-work #add-picture-area{
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	padding: 15px 0px 15px 0px;
}
#modal-add-work #add-picture-area i{
	color: #B9C5CC;
	background-color: #E8F1F6;
	font-size: 48px;
}

#modal-add-work #add-picture-area div{
	color: #444444;
	font-family: 'Work Sans';
	background-color: #E8F1F6;
	font-weight: 400;
	font-size:10px;
}
#modal-add-work #add-picture-area p{
	background-color: #E8F1F6;
	text-align: center;
}
#modal-add-work #add-picture-button{
	background-color: #CBD6DC;
	border-radius: 50px;
	color: #306685;
	padding: 9px 21px 9px 21px;
	font-family: 'Work Sans';
	font-weight: 500;
}

#modal-add-work #add-picture-area label:hover{
	background-color: #CBD6DC;
	border-radius: 50px;
	color: #306685;
	padding: 9px 21px 9px 21px;
	font-family: 'Work Sans';
	font-weight: 500;
}
#modal-add-work img{
	width:130px;
	height: 250 px;
	max-height:auto;
	object-fit: cover;
}
#modal-add-work #add-picture-button:hover{
	cursor:pointer;
}

/** reste du formulaire **/
#modal-add-work form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	background-color: white;
}

/** header & content **/
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--secondary-color);
}

h1 > span {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-color);
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav a {
	padding: 0 10px;
	font-size: 1.2em;
	color: black;
	font-weight: 400;
}
nav img {
	width: 40%;
}
a:hover {
	color: var(--secondary-color);
}
nav .active a {
	font-weight: bold;
	font-weight: 600;
  }

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction p {
	margin-bottom: 0.5em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height:407px;
	object-fit: cover;
}
#contact, 
#login {
	width: 50%;
	margin: auto;
} 
#login {
	margin-top: 8%;
	margin-bottom: 50%; 
}
#contact > *, 
#login > * {
	text-align: center;
}
#contact h2,
#login h2,
.projects-title{
	margin-bottom: 20px;
}
#contact p{
	font-size: 16px;
}
.click:hover{
	text-decoration: underline;
	cursor: pointer;
}
#error-message,
#add-work-error-message p{
	color: red;
	padding-bottom: 20px;
	text-align: center;
}
#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
#modal-add-work input,
#modal-add-work select {
	height: 50px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: white;
	font-family: 'Work Sans' ;
}
#contact label,
#login label,
#modal-add-work label {
	margin: 2em 0 1em 0;
}
#contact textarea,
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: white;
}

#contact #contact-submit,
#login #login-submit,
#modal-add-work #modal-add-work-submit{
	margin: 2em 0 1em 0;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	font-size:14px;
}
.green-button{
	background-color: var(--main-color);
}
#contact #contact-submit,
#login #login-submit,
.green-button{
	background-color: var(--main-color);
}
#modal-add-work #modal-add-work-submit{
	background-color: #A7A7A7;
}
input[type="submit"]:hover{
	cursor: pointer;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	font-weight: 300;
}

#categories {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

button {
	font-family: 'Syne';
	font-weight: 700;
	color: var(--main-color);
	border: solid 1px var(--main-color);
	padding: 9px 21px 9px 21px;
	width: auto;
	text-align: center;
	border-radius: 60px;
	background-color: var(--main-bg-color);
}

button:hover {
	color: var(--main-bg-color);
	background-color: var(--main-color);
	cursor: pointer;
}

.clicked-button {
	color: var(--main-bg-color);
	background-color: var(--main-color);
}


